@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--off-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--white);
  padding: 2.0rem;
  width: 90%;
  border-radius: 1.6rem 1.6rem 10.0rem 1.6rem;
}

.date {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  margin-bottom: 2.0rem;
}

.fieldReq,
.valid-error,
.yearChange,
.dayChange {
  display: none;
  max-width: 7.0rem;
  padding-top: 1.0rem;
  color: var(--light-red);
  font-style: italic;
}


label {
  display: block;
  color: var(--smokey-grey);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

label.error {
  color: var(--light-red);
}

input {
  font-size: 2.0rem;
  padding: 0.5rem 0.2rem;
  border-radius: 0.4rem;
  color: var(--off-black);
  border: 1px solid var(--light-grey);
}

input.error {
  color: var(--light-red);
}


.division {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.0rem;
  margin-bottom: 5.0rem;


}

.line {
  height: 0.1rem;
  width: 100%;
  background-color: var(--light-grey);
}

.arrow {
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: var(--purple);
}

.arrow:active {
  box-shadow: 0 5px #942571cb;
  transform: translateY(2px);
}

.dark-mode .arrow:active {
  box-shadow: 0 5px #873AD4;
  transform: translateY(2px);
}



@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

img {
  height: 5rem;
  width: 40%;
}

.time_past span {
  color: var(--purple);
}

.time_past p {
  font-size: 3.2rem;
  font-weight: 800;
  font-style: italic;
  line-height: 3.8rem;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.attribution {
  margin-top: 3.0rem;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 1px;
}

.attribution a {
  color: var(--purple);
}

/* Dark Mode */

.container-btn-mode {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  font-size: 0;
}

.btn-mode {
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 2px solid rgb(68, 68, 68);
  transition: background-color .5s;
}

.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}

.btn-mode.sun {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
  color: rgba(255, 255, 255, 0.541);

}

.btn-mode.moon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.active {
  background-color: black;
  color: #ffcd5c !important;
}

.dark-mode {
  background-color: #0e0e0e;
  transition: background-color .5s;
}

.dark-mode main {
  background-color: #2c2b2b;
}

.dark-mode .form-label,
.dark-mode .attribution,
.dark-mode .letters {
  color: rgba(255, 255, 255, 0.795);
}

.dark-mode .result {
  color: hsl(150, 64%, 53%);
}

.dark-mode .arrow {
  background-color: hsl(150, 64%, 53%);
}

.dark-mode .attribution a {
  color: hsl(150, 64%, 53%);
}

/* media */

@media screen and (min-width: 850px) and (max-width: 1439px) {
  main {
    margin: 3.5rem;
    width: 40vw;
  }

  label {
    font-size: 2.0rem;
    margin-bottom: 1.5rem;
  }

  .division {
    justify-content: flex-end;
  }

  .time_past p {
    font-size: 5.2rem;
    line-height: 6.8rem;
  }
}

@media screen and (min-width: 1440px) {
  main {
    margin: 3.5rem;
    width: 40vw;
  }

  .date {
    justify-content: start;
  }

  label {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  input {
    font-size: 3.2rem;
    padding: 1.5rem 2.5rem 1.5rem 2.8rem;
    font-weight: 800;
  }

  .result {
    letter-spacing: 1.5rem;
  }

  .time_past p {
    font-size: 6.2rem;
    line-height: 6.8rem;
  }

  .division {
    justify-content: flex-end;
  }
}